{% extends "blog/base.html" %}
{% block content %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

    <h3>Log In to your account!</h3>
    <form method="post" action="/signin/" class="mb-2">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Your Username" Required>
        </div>
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password" Required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
{% endblock content %}